<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">

<link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">

<dom-module id="comment-single">
	<template>
		<style>
			:host { 
				display: block; 
				padding: 0 20px;
			};
		</style>
		<h1>[[data.name]]</h1>
	</template>
	<script>
		Polymer({
			is: 'comment-single',
			behaviors: [ Polymer.NeonAnimatableBehavior ],
			properties: {
				animationConfig: {
					value: function () {
						return {
							entry: {
								name: 'slide-from-right-animation',
								node: this
							},
							exit: {
								name: 'slide-right-animation',
								node: this
							}
						}
					}
				}
			}
		})
	</script>
</dom-module>