<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-swipeable-container/iron-swipeable-container.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">


<link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">

<link rel="import" href="shared-styles.html">

<dom-module id="comments-overview">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      iron-list {
        height: calc(100vh - 64px);
        padding: 0 20px;
      }

      a {
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
      }

      .avatar {
        flex-shrink: 0;
        background-color: lightgrey;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
    </style>
      
    <iron-list items="[[data]]">
      <template>
        <iron-swipeable-container on-iron-swipe="deleteItem" index="[[index]]">
          <a href="/view1/[[item.id]]">
            <div class="avatar">[[index ]]</div>
            <paper-item>{{item.name}}</paper-item>
          </a>
        <iron-swipeable-container>
      </template>
    </iron-list>
  </template>

  <script>
    Polymer({
      is: 'comments-overview',

      properties: {
        data: Array
      },

      behaviors: [ Polymer.NeonAnimatableBehavior ],

      properties: {
        animationConfig: {
          value: function () {
            return {
              exit: {
                name: 'slide-left-animation',
                node: this
              },
              entry: {
                name: 'slide-from-left-animation',
                node: this
              }
            }
          }
        }
      },

      deleteItem (event) {
        this.fire('delete-item', event)
      }
    });
  </script>
</dom-module>
