<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="./comments-overview.html">
<link rel="import" href="./comment-single.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      iron-list {
        height: calc(100vh - 64px);
        padding: 0 20px;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:id"
      data="{{routeData}}"
    ></app-route>

    <iron-ajax
      auto
      method="GET"
      url="https://jsonplaceholder.typicode.com/comments"
      handle-as="json"
      last-response="{{data}}"
    ></iron-ajax>

    <neon-animated-pages
      selected="[[selected]]"
    >
      <comment-single data="{{comment}}"></comment-single>
      <comments-overview data="[[data]]"></comments-ovesrview>
    </neon-animated-pages>
  </template>
  <script>
    Polymer({
      is: 'my-view1',

      properties: {
        selected: Number,
        route: String,
        data: Array,
        comment: Object
      },

      listeners: {
        'delete-item': 'deleteItem'
      },

      observers: [
        'getSelected(routeData.id)',
        'getComment(routeData.id, data)'
      ],

      getSelected (id) {
        this.selected = id ? 0 : 1
      },

      deleteItem (event) {
        const { index } = event.target
        this.data = this.data
          .slice(0, index)
          .concat(this.data.slice(index + 1))
      },

      getComment (id, data) {
        if (!id && !data) 
          return {}

        let [ comment ] = 
          this.data.filter(item => item.id == id)

        this.comment = comment
      }
    });
  </script>
</dom-module>